/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: 'Open Sans', sans-serif;
}

/*---------- Article ---------------*/
article{
 background-color: #455A64;
 color: #ffffff;
 height: 100vh;
}

.left-column{
  margin:50% auto;
  padding: 30px;
}

img{
  width: 50px;
}

form{
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
  max-width: 240px;
}

input{
  margin-bottom: 20px;
}

button{
  background-color: #FFC107;
  color: white;
}
button:hover{
  background-color: #FFD773;
}
/*---------- Aside -----------------*/
aside{
  background-color: #CFD8DC;
  height: 100vh;
}

/*---------- Card UI ---------------*/
section{

}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
