/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: 'Open Sans', sans-serif;
}

/*---------- Article ---------------*/
article{
 background-color: #455A64;
 color: #ffffff;
 height: 100vh;
}

.left-column{
  margin:50% auto;
  padding: 30px;
}

img{
  width: 50px;
}

form{
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
  max-width: 240px;
}

input{
  margin-bottom: 20px;
}

#btn-enter{
  background-color: #FFC107;
  color: white;
  border: none;
}

#btn-enter:hover{
  background-color: #FFD773;
}

/*---------- Aside -----------------*/
aside{
  background-color: #CFD8DC;
  height: 100vh;
}

section{
  background-color: white;
  border: 1px solid #607D8B;
  padding: 10px;
  margin: 10px;
}

h3{
  color: #455A64;
}

hr{
 border:1px solid #CFD8DC;
}

section p{
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}
section p:hover{
  text-decoration-color: #FFC107;
  font-weight: 800;
  color: #455A64;
}

.flex-btn{
  display: flex;
  justify-content: space-between;
}

.btn-read,
.btn-delete{
  color: #455A64;
  background-color: white;
  border: none;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  padding: 0;
}

.btn-read:hover,
.btn-delete:hover{

  text-decoration-color: #FFC107;
  font-weight: 800;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
